@model IEnumerable<LastProject.Models.Loan>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<h2>Index</h2>

<p>
    <a>@Html.ActionLink("Create New", "Create", "Loan")</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustCat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Contract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustCat)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LoanId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LoanId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LoanId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
